build==1.2.1
fastapi_kubernetes @ file:///Users/davidkuchelmeister/Documents/projects_coding/fastapi_kubernetes/dist/fastapi_kubernetes-0.0.2.dev0%2Bg9868ebc.d20240421-py3-none-any.whl#sha256=338ba2bad946e575ec76ffbfb6f4cb8b59d5aacdc1e4e134e879237fca0c903d
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pyproject_hooks==1.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools-scm==8.0.4
six==1.16.0
typing_extensions==4.11.0
tzdata==2024.1
